.Hinh1Dashboard{
    position: absolute;
    left: 347px;
    top: 228px;
}

.Hinh2Dashboard{
    position: absolute;
    left: 1147px;
    top: 228px;
}

.Hinh3Dashboard{
    position: absolute;
    left: 347px;
    top: 479px;
}

.Hinh4Dashboard{
    position: absolute;
    left: 1147px;
    top: 497px;
}